// 페이지의 최대 폭 제한을 없애기
.page, .page__inner-wrap, .page__content, .page__hero, .page__hero--overlay {
  max-width: none;
}

// 본문의 폭을 창 크기에 따라 최대로 설정
.page__main {
  width: 100%;
  max-width: 100%;
  flex: 1;
}

// 사이드바와 TOC의 폭 제한
@media screen and (min-width: 80em) {
  .page__content {
    display: flex;
    flex-flow: row wrap;
  }

  .page__sidebar {
    width: 300px; // 사이드바 폭 고정
    flex: 0 0 300px; // 사이드바가 flex 레이아웃에서 고정되도록
  }

  .toc {
    width: 300px; // TOC 폭 고정
    margin-left: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    align-self: flex-start;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
    flex: 0 0 300px; // TOC가 flex 레이웃에서 고정되도록
  }
}

// 작은 화면에서의 레이아웃 조정
@media screen and (max-width: 80em) {
  .page__sidebar, .toc {
    width: 100%;
    position: static;
    margin: 0;
  }

  .page__main {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px; // 사이드바나 TOC가 아래에 오는 경우 마진 추가
  }
}
